body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(68 10 193);
    padding:30px;
}


.form-group{color: white;
    font-family: 'Poppins', sans-serif;  
}

label{
    color: white;
}

.form-control{
    background-color: #c8cccd;
    margin: 7px;
    border: 2px solid #5b5c5d;
    display: block;
    width: 96%;
    height: 40px;
    padding: 8px;
    box-shadow: 3px 3px rgb(0, 0, 0);
}

#msg{
    background-color: #c8cccd;
    margin: 7px;
    border: 2px solid #5b5c5d;
    display: block;
    width: 96%;
    height: 40px;
    padding: 8px;
    box-shadow: 3px 3px rgb(0, 0, 0);
    font-size: x-large;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}