body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(68 10 193);
}

header {
    background-color: #333;
    color: #939393;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: #2013b6;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#contact.html h2 {
    color: #007bff;
}

#members.html h2 {
    color: #ff6c00;
}
